{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
<style>
.container
{
  background-color: #0CC;
}
.jumbotron{
	text-align: center;
  background-color: pink;
  color:purple;

}
.try
{
  background-color: pink;
  color:red;
  font-family:ar blanca;
  font-size:32px;
}
.asd{
  text-decoration:underline;
  font-family:"Times New Roman", Times, serif;
  font-weight:100;
  font-size:30px;
}
</style>
<div class="container">
{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
        <h1>SPECIALS</h1>
        <p>Taste it !!Make it Better!!!</p>
      </div>
{% endblock %}


{% block content %}







        {% if request.user.is_authenticated %}
        <!--<h3 class="jumbotron">Hello {{ request.user }}</h3>-->
        <div class="col-md-4">
        <a href="a"><img src="{% static 'img/noodles.jpg' %}" height="200" width="200"class="img-responsive"/></a>
        <p class="asd">Noodles</p>
        </div>
        <div class="col-md-4">
        <a href="a"><img src="{% static 'img/burger.jpg' %}" height="200" width="200"class="img-responsive"/></a>
        <p class="asd">Burger</p>
        </div>
<div class="col-md-4">
        <a href="a"><img src="{% static 'img/fries.jpg' %}" height="200" width="200" class="img-responsive"/></a>
        <p class="asd">French Fries</p>
        </div>
        <br>
<div class="col-md-4">
        <a href="a"><img src="{% static 'img/icecream.jpg' %}" height="200" width="200"class="img-responsive"/></a>
        <p class="asd">Sundae</p>
        </div>
<div class="col-md-4">
        <a href="a"><img src="{% static 'img/manchurian.jpg' %}" height="200" width="200"class="img-responsive"/></a>
        <p class="asd">Manchurian</p>
        </div>


        {% else %}

        <div class="row">
<div class="try">
        <div class="col-md-4" >
          
          
          <p >Product strives to bring the best personal experience to people around
          the world.</p>
          
          
        </div></div>
       



 
        <div class="col-md-4">
        <a href="a"><img src="{% static 'img/home.jpg' %}" class="img-responsive"/></a>
       </div>
        <div class="col-md-4">
         <form class="login" method="POST" action="{% url 'account_login' %}">
         {% csrf_token %}
  

<div id="div_id_login" class="form-group"> <label for="id_login" class="control-label  requiredField">
                Login<span class="asteriskField">*</span> </label> <div class="controls "> <input autofocus="autofocus" class="textinput textInput form-control" id="id_login" name="login" placeholder="Username or e-mail" type="text" required=""> </div> </div> <div id="div_id_password" class="form-group"> <label for="id_password" class="control-label  requiredField">
                Password<span class="asteriskField">*</span> </label> <div class="controls "> <input class="textinput textInput form-control" id="id_password" name="password" placeholder="Password" type="password" required=""> </div> </div> <div class="form-group"> <div id="div_id_remember" class="checkbox"> <label for="id_remember" class=""> <input class="checkboxinput" id="id_remember" name="remember" type="checkbox">
                    Remember Me
                </label> </div> </div>
<a class="btn btn-link button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
<a class="btn btn-link button secondaryAction" href="{% url 'account_signup' %}">Signup</a>
  <button class="btn btn-default primaryAction" type="submit">Sign In</button>
</form>
{% endif %}
        </div>
      </div>
{% endblock %}
</div>
